<ion-view view-title="add">
  <ion-content>
    <form name="authorizationForm" ng-submit="submitData(authorizationForm)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="authorizationForm.username">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model ="authorizationForm.password">Password</span>
          <input type="password" ng-model ="authorizationForm.password">
        </label>
      </div>

      <button class="button button-block button-positive activated">Sign In</button>

    </form>
  </ion-content>
</ion-view>
